<div class="weui-tab">
    <div class="weui-navbar">
        <div class="weui-navbar__item weui-flex" style="background-color:rgb(32,43,57);color:white">
            <a (click)="goBack()" href="javascript:;" class="weui-btn weui-btn_mini weui-btn_warn"
               style="background-color:#303b49;">
                返回
            </a>
            <div class="weui-flex__item weui-btn_mini">
                文档详情
            </div>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_warn"
               style="background-color:#303b49;" [style.visibility]="'hidden'">
                关闭
            </a>
        </div>
    </div>

    <div class="weui-tab__panel" style="background-color:#ebebf1">
        <div *ngIf="!article">
            Loading....
        </div>
        <div *ngIf="article" class=" preview">
            <div class="page__bd">
                <div class="weui-form-preview">
                    <div class="weui-form-preview__hd">
                        <label class="weui-form-preview__label">价格 </label><em class="weui-form-preview__value">￥{{article.price}}</em>
                    </div>
                    <div class="weui-form-preview__bd">
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">名称 </label>
                            <span class="weui-form-preview__value"> {{article.name}}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">简介 </label>
                            <span class="weui-form-preview__value">{{article.brief}}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">来源 </label>
                            <span class="weui-form-preview__value">{{article.source}}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">大小 </label>
                            <span class="weui-form-preview__value">{{article.size}}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">页数 </label>
                            <span class="weui-form-preview__value">{{article.page}}页 </span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">下载次数 </label>
                            <span class="weui-form-preview__value">{{article.download}}</span>
                        </div>
                    </div>
                    <div class="weui-form-preview__ft">
                        <a (click)="toggleFavourite()" *ngIf="article.isFavourite=='1'"
                           class="weui-form-preview__btn weui-form-preview__btn_default" href="javascript:">移出收藏</a>
                        <a (click)="toggleFavourite()" *ngIf="article.isFavourite=='0'"
                           class="weui-form-preview__btn weui-form-preview__btn_default" href="javascript:">加入收藏</a>
                        <button type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary"
                                href="javascript:">
                            立即下载
                        </button>
                    </div>
                    <pdf-viewer [src]="pdfSrc"
                                [page]="page"
                                [original-size]="false"
                                style="display: block;"
                    ></pdf-viewer>
                </div>
            </div>
        </div>

    </div>
</div>
